@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@700&family=Orbitron&family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: #000;
  background-color: #363636;
}

a {
  text-decoration: none;
}

.app {
  width: 100%;
  max-width: 1200px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 1rem 2.5rem;
  display: flex;
  flex-flow: column nowrap;
  align-items: center;
  position: relative;
  overflow: hidden;
}
